* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: bisque;
    height: 10vh;
}
nav ul {
    display: flex;
    list-style: none;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
nav ul li {
    margin-left: 1rem;
    font-size:large ;
    font-weight: bolder;
}